[submodule "ChatterBot"]
	path = ChatterBot
	url = git@github.com:Seraf/LISA-PLUGINS-ChatterBot.git
[submodule "Vera"]
	path = Vera
	url = git@github.com:Seraf/LISA-PLUGINS-Vera.git
[submodule "SNCF"]
	path = SNCF
	url = git@github.com:Seraf/LISA-PLUGINS-SNCF.git
[submodule "Izipedia"]
	path = Izipedia
	url = git@github.com:Seraf/LISA-PLUGINS-Izipedia.git
[submodule "ProgrammeTV"]
	path = ProgrammeTV
	url = git@github.com:Seraf/LISA-PLUGINS-ProgrammeTV.git
[submodule "Google"]
	path = Google
	url = git@github.com:Seraf/LISA-PLUGINS-Google.git
[submodule "Cinema"]
	path = Cinema
	url = git@github.com:Seraf/LISA-PLUGINS-Cinema.git
[submodule "BBox"]
	path = BBox
	url = git@github.com:Seraf/LISA-PLUGINS-BBox.git
[submodule "Wifiledlamps"]
	path = Wifiledlamps
	url = git@github.com:Seraf/LISA-PLUGINS-Wifiledlamps.git
[submodule "Shopping"]
	path = Shopping
	url = git@github.com:Seraf/LISA-PLUGINS-Shopping.git
